{% extends 'core/base.html' %}

{% block title %} {{ recipe.name }} {% endblock %}

{% block content %}
    <div class="px-3">
    <div class="row pt-2">
        <div class="col-6">
            <h1> <i>{{ recipe.name }} </i></h1>
        </div>
        <div class="col-3"></div>
           <div class="col-3 pt-2">
               {% if request.user == recipe.created_by %}
                   <h4>{{ recipe.category }} | Yours </h4>
               {% else %}
                <h4>{{ recipe.category }} | by {{ recipe.created_by }}</h4>
                {% endif %}
           </div>

        <hr>

    <div class="row">
    <div class="col-6">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="img-fluid rounded-4" style="width: 100%">
    </div>

    <div class="col-6 px-2">
        <h3><b>Description:</b></h3>
        {{ recipe.description }}
        <h3 class="pt-3"><b>Ingredients:</b></h3>
        {{ recipe.ingredients }}
        <h3 class="pt-3"><b>Directions:</b></h3>
        <p>{{ recipe.directions }}</p>

        <div class="favourites pt-5" style="display: flex; justify-content: flex-end;">

        {% if recipe.n_of_likes == 0 %}
            <p class="px-3 py-2"><b> No likes yet :( </b></p>
        {% elif recipe.n_of_likes == 1%}
            <p class="px-3 py-2"><b>Liked by {{ recipe.n_of_likes }} student</b></p>
        {% else %}
            <p class="px-3 py-2"><b>Liked by {{ recipe.n_of_likes }} students</b></p>
        {% endif %}


        {% if request.user.is_authenticated %}
            <a href="{% url 'recipe:likeRecipe' recipe.id %}" class="add-to-fav" title="Add to favourites">
                <i class="bi bi-suit-heart-fill text-danger" style="font-size: 2rem"></i>
            </a>
        {% else %}
            <a class="login-btn py-1" href="{% url 'core:loginPage' %}">
                        <button type="button" class="btn btn-outline-primary rounded-5 px-4 ">Login to like the recipe</button>
                    </a>
        {% endif %}
            <a href="#" class="share-btn" title="Share">
                <i class="bi bi-share px-3 text-dark" style="font-size: 2rem"></i>
            </a>

            {% if request.user == recipe.created_by %}
            <a href="{% url 'recipe:deleteRecipe' recipe.id %}" class="delete-btn" title="Delete">
            <button type="button" href="#" class="btn btn-danger text-light text-center rounded-5 px-4">
                <div class="d-flex align-items-center justify-content-center">
               Delete <i class="bi bi-trash text-light" style="font-size: 1.5rem"></i>
                </div>
            </button>
            </a>

                <a href="{% url 'recipe:editRecipe' recipe.id %}" class="edit-btn px-2" title="Edit">
            <button type="button" href="#" class="btn btn-warning text-light text-center rounded-5 px-4">
                <div class="d-flex align-items-center justify-content-center">
               Edit <i class="bi bi-pencil-fill" style="font-size: 1.5rem"></i>
                </div>
            </button>
            </a>
            {% endif %}
         </div>
    </div>
    </div>

        <div class="row pt-5">
        <h4 class="text-center py-2 bg-secondary-subtle"> Others from {{ recipe.category }}...</h4>
            {% for recipe in related_recipes %}
                <div class="col">
                <div class="card" style="width: 14rem;">
                    <a href="{% url 'recipe:detail' recipe.id %}" style="text-decoration: none">
                        <img src="{{ recipe.image.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h4 class="card-title text-dark">{{ recipe.name }}</h4>
                      <h5 class="card-subtitle opacity-50 text-dark">{{ recipe.category }}</h5>
                      <p class="card-footer text-dark"><b>{{ recipe.created_by}}</b>'s recipe!</p>
                  </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
    </div>
{% endblock %}
```