{% extends 'core/base.html' %}

{% block title %} {{ recipe.name }} {% endblock %}

{% block content %}
    <div class="px-3">
    <div class="row pt-2">
        <div class="col-6">
            <h1> <i>{{ recipe.name }} </i></h1>
        </div>
        <div class="col-3"></div>
           <div class="col-3 pt-2">
               <h4>{{ recipe.category }} | by {{ recipe.created_by }}</h4>
           </div>

        <hr>

    <div class="row">
    <div class="col-6">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="img-fluid rounded-4" style="width: 100%">
    </div>

    <div class="col-6 px-2">
        <h3><b>Description:</b></h3>
        {{ recipe.description }}
        <h3 class="pt-3"><b>Ingredients:</b></h3>
        {{ recipe.ingredients }}
        <h3 class="pt-3"><b>Directions:</b></h3>
        <p>{{ recipe.directions }}</p>

        <div class="favourites pt-5" style="display: flex; justify-content: flex-end;">
            <a href="#" class="add-to-fav" title="Add to favourites">
                <i class="bi bi-suit-heart text-danger" style="font-size: 2rem"></i>
            </a>
            <a href="#" class="share-btn" title="Share">
                <i class="bi bi-share px-3 text-dark" style="font-size: 2rem"></i>
            </a>
        </div>
    </div>
    </div>

        <div class="row pt-5">
        <h4 class="text-center py-2 bg-secondary-subtle"> Others from {{ recipe.category }}...</h4>
            {% for recipe in related_recipes %}
                <div class="col">
                <div class="card" style="width: 14rem;">
                    <a href="{% url 'recipe:detail' recipe.id %}">
                        <img src="{{ recipe.image.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h4 class="card-title text-dark">{{ recipe.name }}</h4>
                      <h5 class="card-subtitle opacity-50 text-dark">{{ recipe.category }}</h5>
                      <p class="card-footer text-dark"><b>{{ recipe.created_by}}</b>'s recipe!</p>
                  </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
    </div>
{% endblock %}
```