{% extends 'core/base.html' %}

{% block title %}
   Edit Recipe
{% endblock %}

{% block content %}
    <div class="px-3">
   <h1 class="pt-3">Edit {{ recipe.name }} here</h1>

   <form method="POST" action="." enctype="multipart/form-data">
      {% csrf_token %}

       <div class="p-4 fw-bold">
           {{ form.as_p }}
       </div>

   {% if form.errors or form.non_field_errors %}
                    <div class="mb-3 p-4 bg-danger rounded-3">
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                    {{ form.non_field_errors }}
                    </div>
                {% endif %}
    <div class="text-center">
        <button type="submit" class="btn btn-success px-3 text-center px-5 fw-bold">Edit</button>
    </div>
   </form>
    </div>
{% endblock %}
```