{% extends 'core/base.html' %}

{% block title %}
    About
{% endblock %}
```

{% block content %}
    <div class="content px-3">
    <h1>About us:</h1>

<p>
    <b>Welcome to Student Recipes!</b> Since its inception in 2023, our website has been dedicated to providing a convenient and reliable resource for students to discover, create, and share delicious and affordable recipes.

At Student Recipes, we understand the challenges that come with being a student, especially when it comes to cooking and maintaining a healthy lifestyle. We believe that eating well shouldn't be complicated or expensive, and our mission is to empower students with the knowledge and inspiration they need to cook nutritious meals on a budget, using simple ingredients readily available in any student kitchen.

    Whether you're a seasoned chef or a novice in the kitchen, our platform offers a diverse collection of student-friendly recipes. From quick and easy meals for those hectic study nights to wholesome dishes that will impress your friends, we've got you covered.</p>

        <p>But <b>Student Recipes is more than just a recipe database</b>. It's a community of like-minded students passionate about food and cooking. Since 2023, we have been fostering a vibrant community where students can connect, exchange culinary tips and tricks, and share their own favorite recipes.

We also understand that dietary preferences and restrictions vary among students. That's why we provide a range of recipes to accommodate different dietary needs, including vegetarian, vegan, gluten-free, and more. Everyone is welcome here!

So, since 2023, Student Recipes has been your go-to destination for tasty and affordable meals. Join us in making cooking fun, accessible, and delicious for students everywhere!
</p>

    <hr>

    <div class="row">
        <div class="col-4 text-center">
            <a href="#" class="text-dark">Contact us </a>
        </div>
        <div class="col-4 text-center">
           <a href="#" class="text-dark"> Log-in </a>
        </div>
        <div class="col-4 text-center">
           <a href="#" class="text-dark"> Terms of use </a>
        </div>
    </div>
    </div>
{% endblock %}
```